

@import '../../../_common/styles/common.scss';
@import '../../../_common/styles/bb.scss';



.player1, .puck{		
	@include pos-scale-rotate(-80, -40, .5, 0);
}

.player2{		
	@include pos-scale-rotate(80, 0, .5, 0);
}



.ball{	
	@include pos-scale-rotate(70, 10, .5, 0);
}

