


	<div class="frame frame2">
		<img src="./images/bg2.jpg" class="bg2" >
		
		<img src="./images/ill.png" class="ill" >
		<img src="./images/phone.png" class="retina phone" >
		<div class="bgGrad"></div>

		<img src="./images/t2.png" class="retina t2" >
		<img src="./images/cta1.png" class="retina cta1" >
		<img src="./images/cta2.png" class="retina cta2" >
		<img src="./images/legal.png" class="retina footer" >
	</div>




	<% include ./legal %>

